<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>[长征]:土地革命战争时期，中国工农红军主力撤离长江南北各苏区，转战两年，到达陕甘苏区的战略转移行动。</string>
		<key>urlSTR</key>
		<string>https://baike.baidu.com/item/长征/22312?fr=aladdin</string>
		<key>comments</key>
		<string>500</string>
		<key>photos</key>
		<array>
			<string>http://xj.people.com.cn/NMediaFile/2014/0120/LOCAL201401201635000419278997673.jpg</string>
			<string>http://imgsrc.baidu.com/imgad/pic/item/908fa0ec08fa513daa27c3e4366d55fbb2fbd97f.jpg</string>
			<string>http://img.jiaodong.net/pic/003/001/320/00300132047_a1a8e7a6.jpg</string>
			<string>https://gss2.bdstatic.com/-fo3dSag_xI4khGkpoWK1HF6hhy/baike/w%3D480/sign=f02bf08db1389b5038ffe15ab537e5f1/6d81800a19d8bc3e77cfec598a8ba61ea9d3455a.jpg</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>CoderHG:开发中没有无缘无故的需求，也没有无缘无故的BUG，更没有凭空而来的解决方案。</string>
		<key>urlSTR</key>
		<string>https://www.jianshu.com/p/c0e611fc0548</string>
		<key>comments</key>
		<string>8</string>
	</dict>
	<dict>
		<key>title</key>
		<string>李小龙（1940年11月27日-1973年7月20日），原名李振藩，师承叶问，出生于美国加州旧金山，祖籍中国广东顺德均安镇，世界武道变革先驱者、武术技击家、武术哲学家、MMA之父、武术宗师、功夫片的开创者和截拳道创始人、华人武打电影演员，中国功夫首位全球推广者、好莱坞首位华人主角。他在香港的四部半电影3次打破多项记录，其中《猛龙过江》打破了亚洲电影票房记录，与好莱坞合作的《龙争虎斗》全球总票房达2.3亿美元。</string>
		<key>urlSTR</key>
		<string>https://baike.baidu.com/item/李小龙/32914?fr=aladdin</string>
		<key>comments</key>
		<string>200</string>
		<key>photos</key>
		<array>
			<string>https://gss2.bdstatic.com/9fo3dSag_xI4khGkpoWK1HF6hhy/baike/c0%3Dbaike150%2C5%2C5%2C150%2C50/sign=7b60fec67dec54e755e1124cd851f035/574e9258d109b3dec6dd9790cabf6c81810a4ce3.jpg</string>
			<string>https://gss0.bdstatic.com/-4o3dSag_xI4khGkpoWK1HF6hhy/baike/c0%3Dbaike80%2C5%2C5%2C80%2C26/sign=34290f8827f5e0fefa1581533d095fcd/cefc1e178a82b9018ea6c3a2798da9773912ef1c.jpg</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>邓丽君（1953年1月29日-1995年5月8日），出生于中国台湾省云林县，祖籍河北省大名县，中国台湾歌唱家、日本昭和时代代表性日语女歌手之一。</string>
		<key>urlSTR</key>
		<string>https://baike.baidu.com/item/邓丽君/27007?fr=aladdin</string>
		<key>comments</key>
		<string>100</string>
		<key>photos</key>
		<array>
			<string>https://gss1.bdstatic.com/9vo3dSag_xI4khGkpoWK1HF6hhy/baike/c0%3Dbaike116%2C5%2C5%2C116%2C38/sign=4e3f79809616fdfacc61cebcd5e6e731/d058ccbf6c81800af0080ba5ba3533fa838b47a8.jpg</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>陈道明，1955年4月26日出生于天津，祖籍浙江绍兴。国家一级演员，第十届、十一届、十二届全国政协委员，中国文学艺术界联合会第八次全国代表，广电总局颁发优秀电影表演艺术家，2006年中宣部“四个一批”人才，中国环境文化促进会理事，中国电视艺术家协会委员。</string>
		<key>urlSTR</key>
		<string>https://baike.baidu.com/item/陈道明/27674?fr=aladdin</string>
		<key>comments</key>
		<integer>78</integer>
		<key>photos</key>
		<array>
			<string>https://gss0.bdstatic.com/-4o3dSag_xI4khGkpoWK1HF6hhy/baike/c0%3Dbaike80%2C5%2C5%2C80%2C26/sign=0a5f3fcb3287e950561afb3e71513826/738b4710b912c8fc7f91c6c5f4039245d6882153.jpg</string>
			<string>https://gss3.bdstatic.com/-Po3dSag_xI4khGkpoWK1HF6hhy/baike/c0%3Dbaike150%2C5%2C5%2C150%2C50/sign=d094c25c09b30f242197e451a9fcba26/b151f8198618367a71a916e028738bd4b31ce5ef.jpg</string>
			<string>https://gss1.bdstatic.com/-vo3dSag_xI4khGkpoWK1HF6hhy/baike/c0%3Dbaike80%2C5%2C5%2C80%2C26/sign=d63befd62ddda3cc1fe9b07260805264/962bd40735fae6cde684dd280cb30f2442a70f42.jpg</string>
		</array>
	</dict>
</array>
</plist>
